.todo-container {
    background-color: rgb(69, 143, 143) !important;
}

h1 {
    font-weight: 700 !important;

    margin: 30px !important;
    padding-bottom: 20px;
}

input {
    width: 100%;
}

.items {

    text-align: left;

}

.kg-row {
    margin: 10px;
}

.kg-btn {

    text-align: center;
}

h3 {

    font-weight: 900;
}